
<head>
 


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="../public/stylesheets/chat.css">

<body>

  <div class="container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul id="new-person" class="list ">

      </ul>
    </div>


    <div class="chat">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

        <div class="chat-about">
          <div id="profile-ID" class="chat-with"></div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->

      <div class="chat-history">
        <ul id="messages">






        </ul>

      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">


        <form id="form">


          <textarea id="msag" placeholder="Type your message" rows="3"></textarea>
          <input style="border-radius: 5px;width:300px; height:30px" type="text" id="room"
            placeholder="paste ID here..." />
          <button type="submit"> SEND</button>

        </form>

      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->







  <script src="/socket.io/socket.io.js"></script>
  <script>


    var socket = io();

    socket.on('connect', function () {
      console.log(socket.id)
      document.getElementById('profile-ID').innerHTML = `<p>YourID &nbsp;  ${socket.id}</p>`

    })
    var form = document.getElementById('form');
    var input = document.getElementById('msag');
    var room = document.getElementById('room')


    form.addEventListener('submit', function (e) {
      e.preventDefault();

      if (input.value) {

        var currentDate = new Date();


        var hours = currentDate.getHours();
        var minutes = currentDate.getMinutes();
        var seconds = currentDate.getSeconds();

        var formattedTime = hours + ":" + minutes;




        document.getElementById('messages').innerHTML += `<li class="clearfix">

             <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle me"></i>you</span>
              <span class="message-data-time">${formattedTime} </span>
            </div>

            <div id="chat-to" class="message other-message float-right">
              ${input.value}
            </div>

          </li>`


        socket.emit('sms', input.value, room.value);
        input.value = '';

      }
    });



    socket.on('sms', function (msg, id) {
      var currentDate = new Date();


      var hours = currentDate.getHours();
      var minutes = currentDate.getMinutes();
      var seconds = currentDate.getSeconds();

      var formattedTime = hours + ":" + minutes;

      document.getElementById('messages').innerHTML += `<li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i>from ${id}</span>
              <span class="message-data-time">${formattedTime}</span>
            </div>
            <div id="chat-from" class="message my-message">
             ${msg}
            </div>
          </li>`

    });




    socket.on('online-person', function (person) {

      {{!-- console.log(person) --}}

      document.getElementById('new-person').innerHTML = ""


      if (1 == person.length && socket.id == person) {

        document.getElementById('new-person').innerHTML = '<p>  you are alone....&#128148; </p>'
      }
      person.forEach(person => {


        if (socket.id != person) {



          document.getElementById('new-person').innerHTML +=


            `<li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Id &nbsp;${person}</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>`

        }
      })

    })
  </script>
</body>